.chat {
  margin: 20px 10px;
  border: 0 solid #d9d9e3;
  border-width: 1px;

  border-color: rgba(0, 0, 0, 0.1);
}

.userMessage,
.userMessage::before,
.userMessage::after,
.assistantMessage,
.assistantMessage::before,
.assistantMessage::after {
  border: 0 solid #d9d9e3;
  box-sizing: border-box;
}

.userMessage,
.assistantMessage {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}

.assistantMessage {
  background-color: rgb(247, 247, 248);
}

[data-theme="dark"] .userMessage {
  background-color: rgb(52, 53, 65);
  border-color: rgba(32, 33, 35, 0.5);
}

[data-theme="dark"] .assistantMessage {
  background-color: rgb(68, 70, 84);
  border-color: rgba(32, 33, 35, 0.5);
}

.avatar {
  flex: 0 0 auto;
  width: 50px;
  margin-right: 10px;
}

.avatar img {
  height: 30px;
  border-radius: 2px;
  border-bottom-color: rgb(52, 53, 65);
}

.messageContent {
  flex: 1 1 auto;
}

.logoWrapper {
  width: 30px;
  height: 30px;
  background-color: rgb(171, 104, 255);
  padding: 4px;
}

.logoWrapper svg {
  width: 100%;
  height: 100%;
  color: white;
}
